<h3>{{Titulo}}</h3>
<div class="container">

	<div *ngIf="EstadoForm == 'L'">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Precio</th>
					<th class="text-center">ABM</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of Items">
					<td>{{item.IdAuto}}</td>
					<td>{{item.NombreAuto}}</td>
					<td>{{item.PrecioAuto}}</td>
					<td>
						<button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(item)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
						<button type="button" class="btn btn-sm btn-outline-primary" title="Eliminar" (click)="Eliminar(item.IdAuto)">
                    <span class="fas fa-trash-alt"></span>

                </button>
					</td>
				</tr>
			</tbody>
		</table>
		<input name="" id=""  class="btn btn-success" type = "button"  value= "Alta"(click) = 'Alta()'>

</div>
		<div *ngIf="EstadoForm == 'A'">
			<h3>Registrar Auto</h3>
			<form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">

				<fieldset [disabled]="AccionABMC==='C'">
					<!--NombreAuto-->
					<div class="form-group row">
						<label class="col-form-label col-sm-2 col-sm-offset-2" for="NombreAuto">Nombre <span
                    class="text-danger">*</span></label>
						<div class="col-sm-6">
							<input type="text" class="form-control" formControlName="NombreAuto"
         [ngClass]="{'is-invalid': (FormReg.controls.NombreAuto.touched || submitted)  
            && FormReg.controls.NombreAuto.errors}" />

							<span class="text-danger" *ngIf="(FormReg.controls.NombreAuto.touched || submitted) 
                        && FormReg.controls.NombreAuto.errors?.required">
                    Dato requerido.
                </span>
							<span class="text-danger" *ngIf="(FormReg.controls.NombreAuto.touched || submitted) 
                       && (FormReg.controls.NombreAuto.errors?.minlength || FormReg.controls.NombreAuto.errors?.maxlength) ">
                    Dato texto de 4 a 50 caracteres.
                </span>

						</div>
					</div>

					<!--PrecioAuto-->
					<div class="row form-group">
						<label class="col-form-label col-sm-2 col-sm-offset-2" for="PrecioAuto">Precio <span
                    class="text-danger">*</span></label>
						<div class="col-sm-6">
							<input type="text" name="PrecioAuto" class="form-control" formControlName="PrecioAuto"
            [ngClass]="{'is-invalid': (FormReg.controls.PrecioAuto.touched || submitted)  
            && FormReg.controls.PrecioAuto.errors}" />
							<span class="text-danger" *ngIf="(FormReg.controls.PrecioAuto.touched || submitted) 
                       && FormReg.controls.PrecioAuto.errors?.required">
                    Dato requerido.
                </span>
							<span class="text-danger" *ngIf="(FormReg.controls.PrecioAuto.touched || submitted) 
               && FormReg.controls.PrecioAuto.errors?.pattern">
                    Dato numérico, 1 a 10 dígitos.
                </span>
						</div>
					</div>

				</fieldset>

				<!-- Botones Grabar, Cancelar/Volver' -->
				<div class="row justify-content-center">
					<button type="button" *ngIf="AccionABMC!=='C'" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Aceptar
        </button>
					&nbsp;
					<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
				</div>

				<!--texto: Revisar los datos ingresados...-->
				<div id="divMsjFormRegistro" *ngIf="submitted && FormReg.invalid" class="row alert alert-danger">
					<span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
				</div>

			</form>
		</div>


	</div>